<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">

  <button mat-menu-item (click)="OnLogOut()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>

  <a routerLink="/user/login">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </a>

  <a routerLink="/user/sign-up">
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Sign up</span>
    </button>
  </a>
</mat-menu>
