.month-comp-div {
  padding-top: 5rem;
  max-height: 87.5vh;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}

.weekend {
  /* font-weight: bolder; */
  font-weight: lighter;
}

.payDay {
  /*  font-weight: bolder; */
  color: white !important;
  background-color: green !important;
  pointer-events: none !important;
}

p {
  font-weight: bolder;
  font-size: 1rem;
}

button {
  background-color: blueviolet !important;
  line-height: 23px;
  padding: none;
  font-weight: bolder;
  font-size: 1rem;
}

th {
  /*   position: sticky; */
  background-color: #5866b1d2;
  color: white;
  font-size: 1.33rem;
  font-weight: bolder;
}

.light-font {
  font-weight: 600;
}
