<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>David Bernier</mat-card-title>
    <mat-card-subtitle>Associate Software Engineer in training</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>David's Events </p>
    <div>
      <ul>
        <li>Event 1</li>
        <li>Event 2</li>
        <li>Event 3</li>
        <li>Event 4</li>
        <li>Event 5</li>
        <li>Event 6</li>
        <li>Event 7</li>
        <li>Event 8</li>
        <li>Event 9</li>
      </ul>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <br />
    <br />
    Email Link
    <a href="mailto: davidbernier@quickenloans.com">
      <button mat-menu-item>
        <mat-icon>email</mat-icon>
        <span>Email</span>
      </button>
    </a>
    Phone Link
    <a href="tel:734-634-3830">
      <button mat-menu-item>
        <mat-icon>phone</mat-icon>
        <span>Call</span>
      </button>
    </a>
    SIFT LINK
    <a href="https://foc.justsift.com/profile/EIEPudplfbD">
      <button mat-menu-item>
        <mat-icon>contact_page</mat-icon>
        <span>Sift Profile</span>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
