<div class="friends-list-comp">
  <h3 class="events-list-header">
    All Coworkers
  </h3>
  <ng-container *ngIf="dataSource">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter Coworker Table" #input>
  </mat-form-field>
  </ng-container>
<br />
<br />

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Coworker Column -->
  <ng-container matColumnDef="coworker">
    <th mat-header-cell *matHeaderCellDef> Team Member </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary"  (click)="CoworkerClick(element.coworker)" class="user-button">
        {{element.firstName}} {{element.lastName}}
      </button>
    </td>
  </ng-container>

  <!-- Depratment Column -->
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let element">
      <p>{{element.department}}</p>
    </td>
  </ng-container>

  <!-- Location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element">
      NULL
      </td>
  </ng-container>

  <!-- Hide Events Column -->
  <ng-container matColumnDef="hideEvent">
    <th mat-header-cell *matHeaderCellDef> Hide Events </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="accent" class="hide-event-button">
        Hide Events For {{element.firstName}}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching for:  "{{input.value}}"</td>
  </tr>
</table>
</div>
