



.example-spacer {
  flex: 1 1 auto;
 /*  z-index: 1; */

}

.tool-bar{

 position: fixed;
  position: -webkit-fixed;
  top: 0; /* required */
  color: #fff;
  z-index: 500;
}
.expand-menu{
  background-color:  rgba(251, 250, 245);
}
a{
  text-decoration: none;

}
