.example-spacer {
  flex: 1 1 auto;
}

.tool-bar{
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  color: #fff;
}
.expand-menu{
  background-color:  rgba(251, 250, 245);
}
a{
  text-decoration: none;

}
